$neutral-white: #ffffff;
$neutral-100: #fafafa;
$neutral-200: #f4f4f4;
$neutral-300: #dfdfdf;
$neutral-400: #bdbdbd;
$neutral-500: #9c9c9c;
$neutral-600: #767676;
$neutral-700: #565656;
$neutral-800: #323232;
$neutral-900: #1d1d1d;
$neutral-1000: #121212;
$neutral-black: #000000;

$green-100: #e7fddc;
$green-200: #bef7a1;
$green-300: #59cf1e;
$green-400: #44b50c;
$green-500: #188920;

$orange-100: #fff0e0;
$orange-200: #ffd4a8;
$orange-300: #ff9800;
$orange-400: #ff8000;
$orange-500: #b75c21;

$blue-100: #ebf5ff;
$blue-200: #c5e2ff;
$blue-300: #228df6;
$blue-400: #016cd5;

$red-100: #ffeeee;
$red-200: #ffcdcd;
$red-300: #fa4c4c;
$red-400: #df3131;
$red-500: #cf000f;

$yellow-100: #fdf5cb;
$yellow-200: #f6e177;
$yellow-300: #eccd33;
